@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono&family=Open+Sans:wght@400;600;700&family=Ubuntu:wght@400;500;700&display=swap");

$family-sans-serif: "Open Sans", sans-serif;
$family-monospace: "Ubuntu Mono", monospace;

$family-primary: $family-sans-serif;
$family-secondary: "Ubuntu", sans-serif;
